<ons-toolbar>
    <div class="center">週間</div>
</ons-toolbar>

<div style="text-align: center">

        <ons-list>
        
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>
            <ons-list-item  ng-click="myNavigator.pushPage('new_page.html')">
                test
            </ons-list-item>

        </ons-list>


</div>
