<ons-page  ng-controller="MRankController">

<ons-toolbar>
    <div class="center">月間ランキング</div>
</ons-toolbar>

<div style="text-align: center">

        <ons-list>
            <ons-list-item class="item" ng-repeat="data in dataList" ng-click="showDetailPage(data)">
            <ons-row>
                <ons-col width="80px">
                    <div class="item__thum">
                        <img src="http://i.ytimg.com/vi/{{data.d_id}}/default.jpg" width="70" height="50"/>
                    </div>
                </ons-col>
                <ons-col>
                    <span class="list__item__subtitle">{{data.name}}</span>
                </ons-col>
            </ons-row>
            </ons-list-item>
        </ons-list>


</div>

</ons-page>