<ons-sliding-menu var="app.slidingMenu" menu-page="s-menu.html" side="right" type="overlay" max-slide-distance="200px" swipeable="false">
  <ons-navigator var="myNavigator" page="login.html"></ons-navigator>
</ons-sliding-menu>

<ons-template id="s-menu.html">
  <ons-list>
    <ons-list-item>
      メニュー
    </ons-list-item>
    <ons-list-item modifier="tappable" class="list__item__line-height"
                   onclick="myNavigator.pushPage('a.html'), app.slidingMenu.closeMenu()">
      &nbsp; ページa
    </ons-list-item>
  </ons-list>
</ons-template>

<ons-template id="login.html">
  <ons-toolbar>
    <div class="right">
      <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
        <ons-icon icon="bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Login</div>
  </ons-toolbar>

  <p style="padding-top: 100px; color: #999; text-align: center">Login Page Contents</p>
</ons-template>

<ons-template id="a.html">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">A</div>
    <div class="right">
      <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
        <ons-icon icon="bars"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <p style="padding-top: 100px; color: #999; text-align: center">A Page Contents</p>
</ons-template>